*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

/* header */
header .container{
    width: 100%;
    background-color: #0084fd;
    padding: 1rem;
}

header div i{
    font-size: 1.5em;
    color: white;
}