*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

li{
    list-style-type: none;
}

/* utility */
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-item-center{
    align-items: center;
}

.button{
    border-radius: 2em;
    padding: 1rem 5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
}

.bg-blue{
    background-color: #0084fd;
    color: white;
}

.button-white{
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 0.6rem;
}

/* header */
header{
    width: 100%;
    background-color: #0084fd;
}

header .container{
    width: 100%;
    padding: 1rem;
}

header div i{
    font-size: 1.5em;
    color: white;
}

header ul{
    display: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

header ul:last-child{
    margin-right: 0;
}

/* main */

/* cards */
#cards{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

#cards .card{
    width: 100%;
    padding: 1rem;
    border-radius: 2em;
    background-color: #b5ddff;
}

#cards .app{
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    border-radius: 2em;
    background-color: #b5ddff;
}

#cards .app-image img{
    width: 100%;
}

#cards .card p{
    color: #333333;
    padding: 1em 0;
    text-align: center;
}

#cards .app p{
    color: #333333;
    padding: 1em 0;
}

#cards .card h3{
    color: #0084fd;
    padding: 1em 0;
}

#cards .app h3{
    color: #0084fd;
    padding: 1em 0;
}

#cards .card i{
    font-size: 5em;
    color: #0084fd;
    padding: 0.5rem 0;
}

#cards .card .button i{
    color: white;
    font-size: 1em;
    padding: 0;
}

/* planning */
#planning{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #9792e4;
    color: white;
    padding: 2rem;
}

#planning img{
    width: 100%;
    margin: 2rem 0;
}

#planning h2{
    margin: 2rem 0;
}
#planning p{
    margin: 2rem 0;
}

#planning .card{
    background-color: white;
    color: #333333;
    text-align: center;
    border-radius: 2em;
}

#planning .card p{
    padding: 1rem 2rem;
}

#planning .card .button{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    margin: 2rem 0;
    color: black;
}

/* testimonials */
#testimonials{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    text-align: center;
}

#testimonials h2{
    color: #9792e4;
}

#testimonials .card{
    background-color: #9792e4;
    color: white;
    text-align: center;
    border-radius: 2em;
}

#testimonials .card img{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem;
}

#testimonials .card p{
    line-height: 2em;
}

#testimonials .card h3{
    text-transform: uppercase;
    margin: 2rem 0 ;
}

blockquote p:before {
    content: open-quote;
    font-weight: bold;
    font-size:2em
}

blockquote p:after {
    content: close-quote;
    font-weight: bold;
    font-size:2em
}

/* features */
#features{
    background-color: #9792e4;
    color: white;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

#features .cards{
    width: 100%;
    gap: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

#features > h2{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

#features .card{
    background-color: white;
    border-radius: 2em;
    color: #333333;
    padding: 2rem;
}

#features .card h2,
#features .card h3{
    color: #9792e4;
}

#features .card h2{
    font-size: 3rem;
    margin: 1rem 0;
}

#features .card h3{
    font-size: 2rem;
    margin: 1rem 0;
}

.btn-more{
    padding: 1rem 3rem;
    background-color: #9792e4;
    color: white;
    text-decoration: none;
    margin: 1rem 0;
    border-radius: 2em;
    display: inline-block;
}

/* about-us */
#about-us{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

#about-us h2{
    color: #9792e4;
    font-size: 3rem;
    margin: 1rem 0;
}

#about-us p{
    line-height: 2rem;
    margin: 2rem 0;
}

.about{
    background-image: url(../img/about.jpg);
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

i.fa-solid.fa-quote-left{
    color: #9792e4;
    font-size: 60px;
    position: absolute;
    right: 0;
}

.about-us-2 h3{
    color: #9792e4;
    margin: 2rem 0;
    line-height: 2rem;
    font-size: 2rem;
}

.btn-lin{
    padding: 0.7rem;
    background-color: #9792e4;
    color: white;
    text-decoration: none;
    margin: 1rem 0;
    border-radius: 2em;
    display: inline-block;

}

/* get-started */
#get-started{
    width: 100%;
    background-color: #9792e4;
    color: white;
    padding: 2rem;
    text-align: center;
}

#get-started h2{
    color: #fdc15f;
    font-size: 5rem;
    margin: 2rem 0;
}

#get-started h3{
    font-size: 2rem;
    margin: 2rem 0;
}

#get-started p{
    margin: 2rem 0;
    line-height: 2rem;
}

#get-started p:first-child{
    color: lightgray;
}

#get-started p a{
    color: white;
}

.btn-start{
    background-color: white;
    color: #9792e4;
    text-decoration: none;
    padding: 2rem 4rem;
    border-radius: 2em;
    font-size: 1.5rem;
    margin: 0 auto;
}

/* footer */
footer{
    background-color: #333333;
}

footer .container{
    color: white;
    width: 80%;
    margin: 0 auto;
}

footer .container a{
    color: #9792e4;
}

footer .container p{
    text-align: center;
    padding: 2rem 0;
}

/* responsive */

/* tablet */
@media screen and (min-width: 768px) {
    #cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    #cards .app{
        width: calc(((100% / 3) * 2 ) - 1%);
    }

    #cards .card{
        width: calc((100% / 3) - 2%);
    }

    #cards .app-image img {
        width: 50%;
    }

    #testimonials .card{
        display: flex;
        padding: 2rem;
        text-align: start;
    }

    #testimonials .card p{
        text-align: start;
    }

    #features .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #features .card{
        width: calc(100%/2 - 2%);
    }

    #about-us{
        flex-direction: row;
    }

    .about-us-1{
        width: 65%;
        margin-right: 2rem;
    }

    .about-us-2{
        width: 35%;
        margin: 1rem 0;
    }

    #get-started .container{
        width: 768px;
        margin: 0 auto;
    }

    footer .container{
        width: 615px;
        margin: 0 auto;
    }
    
}

/* desktop */
@media screen and (min-width: 1160px){
    #cards,
    #planning .container,
    #testimonials,
    #features .cards,
    #about-us{
        width: 1140px;
        margin: 2em auto;
    }

    header .container{
        margin: 0 auto;
        width: 1140px;
    }

    #planning .container{
        display: flex;
    }
    
    header ul{
        display: flex;
    }

    .app{
        flex-direction: row;
    }

    .menu{
        display: none;
    }
    
    #cards .app-image img {
        width: 100%;
    }

    #planning .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 

    #planning .card img{
        width: 50%;
        margin: 1rem auto;
    }

    #planning .card{
        align-self: flex-end;
    }

    #features .card{
        width: calc(100%/3 - 2%);
    }
    .about-us-1{
        width: 70%;
        margin-right: 5rem;
    }

    .about-us-2{
        width: 30%;
        margin: 1rem 0;
    }

    #get-started.container{
        width: 768px;
        margin: 0 auto;
    }

    footer .container{
        width: 615px;
        margin: 0 auto;
    }
}
