*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

li{
    list-style-type: none;
}

/* utility */
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-item-center{
    align-items: center;
}

.button{
    border-radius: 2em;
    padding: 1rem;
    display: inline-block;
}

.bg-blue{
    background-color: #0084fd;
    color: white;
}

/* header */
header{
    width: 100%;
    background-color: #0084fd;
}

header .container{
    width: 100%;
    padding: 1rem;
}

header div i{
    font-size: 1.5em;
    color: white;
}

header ul{
    display: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

/* main */

/* cards */
#cards{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
}

#cards .card{
    width: 100%;
    padding: 1rem;
    border-radius: 2em;
    background-color: #b5ddff;
}

#cards .app{
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    border-radius: 2em;
    background-color: #b5ddff;
}

#cards .app-image img{
    width: 100%;
}

#cards .card p{
    color: #333333;
    padding: 1em 0;
    text-align: center;
}

#cards .app p{
    color: #333333;
    padding: 1em 0;
}

#cards .card h3{
    color: #0084fd;
    padding: 1em 0;
}

#cards .app h3{
    color: #0084fd;
    padding: 1em 0;
}

#cards .card i{
    font-size: 5em;
    color: #0084fd;
    padding: 0.5rem 0;
}

#cards .card .button i{
    color: white;
    font-size: 1em;
    padding: 0;
}

/* planning */
#planning{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #9792e4;
    color: white;
    padding: 2rem;
}

#planning img{
    width: 100%;
    margin: 2rem 0;
}

#planning h2{
    margin: 2rem 0;
}
#planning p{
    margin: 2rem 0;
}

#planning .card{
    background-color: white;
    color: #333333;
    text-align: center;
    border-radius: 2em;
}

#planning .card p{
    padding: 1rem 2rem;
}

#planning .card .button{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    margin: 2rem 0;
}

/* testimonials */
#testimonials{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    text-align: center;
}

#testimonials h2{
    color: #9792e4;
}

#testimonials .card{
    background-color: #9792e4;
    color: white;
    text-align: center;
    border-radius: 2em;
}

#testimonials .card img{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem;
}

#testimonials .card p{
    line-height: 2em;
}

#testimonials .card h3{
    text-transform: uppercase;
    margin: 2rem 0 ;
}

blockquote p:before {
    content: open-quote;
    font-weight: bold;
    font-size:2em
}

blockquote p:after {
    content: close-quote;
    font-weight: bold;
    font-size:2em
}

/* responsive */

/* tablet */
@media screen and (min-width: 768px) {
    #cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    #cards .app{
        width: calc(((100% / 3) - 1%)*2);
    }

    #cards .card{
        width: calc((100% / 3) - 3%);
    }

    #testimonials .card{
        display: flex;
        padding: 2rem;
        text-align: start;
    }

    #testimonials .card p{
        text-align: start;
    }
    
}

/* desktop */
@media screen and (min-width: 1160px){
    header .container,
    #cards,
    #planning .container,
    #testimonials{
        width: 1140px;
        margin: 2em auto;
    }

    #planning .container{
        display: flex;
    }
    
    header ul{
            display: flex;
    }

    .fa-bars{
        display: none;
    }

    .app{
        flex-direction: row;
    }
    
}
